@charset "utf-8";

/* layout */
#header {width: 138px; height: 1140px; background-color: #1458E4; border-right: 1px solid rgba(255, 255, 255, 0.5); float: left;}
#section1 {font-family: 'Jost'; width: 100%; background-color: #1458E4; height: 100vh;}


#header nav button span {width: 3px; height: 43px; color: #fff;}
.intro {border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
.intro .itr_left {position: relative;}
.intro .itr_left p {position: absolute; left: 162px; top: 200px; font-weight: 300; font-size: 5vw; line-height: 1.2; transform: rotate(-90deg); color: #fff;}

.intro .itr_right {width: 33.3%; float: right; border-left: 1px solid rgba(255, 255, 255, 0.5);}
.right_1 {height: 30vh; border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
.right_1 .r_box {border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
.right_1 span {width: 48%; display: inline-block;}
.right_1 span.cont {text-align: right;}
.right_1 span a {display: inline-block; padding: 5%; color: #fff; font-weight: 300;}
.right_2 {}
.right_2 p {font-family: 'SUIT'; padding: 15%; color: #fff;}
.right_2 .profile {padding-right: 10%; text-align: right;}
.right_2 .profile img {border-radius: 50%;}