body {
  margin-top: 6%;
}
.wrapper {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 50%;
  border-radius: 3%;
  background: #fff;
  padding: 15px 20px;
}
.wrapper i {
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, .controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i {
  font-size: 25px;
  color: #285AD5;
}
.top-bar i:first-child{
  margin-left: -7px;
}
.top-bar span {
  font-size: 15px;
  margin-left: -3px;
  color: #285AD5;
}
.img-area {
  height: 67%;
  width: 67%;
  margin: 5% auto;
  overflow: hidden;
  border-radius: 15px;
}
.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details {
  text-align: center;
  margin: 5% 0;
}
.song-details p {
  color: #285AD5;
}
.song-details .name {
  font-size: 18px;
}
.song-details .artist {
  opacity: 0.9;
  line-height: 35px;
  font-size: 15px;
}
.progress-area {
  height: 6px;
  width: 100%;
  background: #D2E7FC;
  border-radius: 50px;
  cursor: pointer;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  border-radius: inherit;
  position: relative;
  background: #285AD5;
}
.progress-bar::before{
  content:'';
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer {
  margin-top: 2px;
}
.song-timer span {
  font-size: 13px;
  color: #285AD5;
}
.controls {
  margin: 40px 0 5px 0;
}
.controls i {
  font-size: 30px;
  user-select: none;
  background-color: #285AD5;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 25px;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
  height: 54px;
  width: 54px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-pause::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  height: 43px;
  width: 43px;
}
.play-pause i{
  position: absolute;
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #285AD5;
}
.music-list {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 0;
  background: #fff;
  border-radius: 15px;
  transition: all 0.15s ease-out;
}
.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.music-list .header {
  padding: 0 20px;
}
.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #285AD5;
}
.music-list .row i {
  cursor: default;
}
.header #close {
  font-size: 22px;
  color: #515c6f;
}
.music-list ul {
  margin: 10px 25px;
  max-height: 260px;
  overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0;
}
.music-list ul li {
  display: flex;
  cursor: pointer;
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: #285AD5;
  border-bottom: 1px solid #e5e5e5;
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  font-size: 15px;
}
.music-list ul li .row p {
  opacity: 0.9;
}
ul li .audio-duration{
  font-size: 15px;
}
ul li.playing{
  pointer-events: none;
  color: #051D4D;
}
/* //music */
