* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.word_display {
  margin-top: 3rem;
  font-size: 80px;
  font-weight: 500;
  color: #1a1e6d;
}
.word_input_box {
  margin-top: 2rem;
}
.word_input {
  padding: 2%;
  width: 100%;
}
.game_info {
  margin-top: 2rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
  color: #1a1e6d;
}
.timeleft,
.typingscore {
  font-size: 30px;
  color: #1a1e6d;
}
.typing_button {
  width: 210px;
  height: 40px;
  background: #d1d9ff;
  color: #fff;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}
.loading {
  background: #c4c4c4;
  cursor: not-allowed;
}
